@model CondoTechWEB.Models.AvisoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AvisoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAviso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAviso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCondominio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCondominio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id = Model.IdAviso}) |
    <a asp-action="Index">Back to List</a>
</div>
